{%  extends "students/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ title|capfirst }} {% endblock %}


{% block content %}

    <div class="container">

        <h2>{% trans "Student:" %} {{ student.surname }} {{ student.name }}</h2>
        <ul class="list-group">
          <li class="list-group-item">{% trans "Email:" %} {{ student.email }}</li>
          <li class="list-group-item">{% trans "Phone:" %} {{ student.phone }}</li>
          <li class="list-group-item">{% trans "Course:" %} {% for course in student.course.all %}
                                            {{ course }}{% endfor %}</li>
          <li class="list-group-item">{% trans "Package:" %} {{ student.get_package_display }}</li>
          {% if student.dossier %}
          <li class="list-group-item">{% trans "Address:" %} {{ student.dossier.address }}</li>
              {% if student.dossier.unloved_courses %}
          <li class="list-group-item">{% trans "Unloved courses:" %}
                {%  for course in student.dossier.unloved_courses.all %}
                {{ course }}{% endfor %}</li>
              {% endif %}
          {% endif %}
          <li class="list-group-item">{% trans "Favorite colour:" %} {{ student.dossier.favorite_colour }}</li>
          <li class="list-group-item"><a href="{% url 'student-edit' student.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'student-add' %}">{% trans "Add" %}</a>
          <a href="{% url 'student-delete' student.id %}">{% trans "Delete" %}</a></li>
          {# <li class="list-group-item">Рейтинг: 1</li> #}

        </ul>

    </div><!-- /.container -->
{% endblock %}
