{%  extends "students/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ title|capfirst }} {% endblock %}


{% block content %}

    <div class="container">
        <h2>{% trans "Students list" %}</h2>
        <ul class="list-group">

          {% for student in students %}
          <li class="list-group-item">
          {{ forloop.counter }}
            <a href="{% url 'student-item' student.id %}">
              {{ student.surname }} {{ student.name }}
            </a><span class="badge"><a href="{% url 'student-delete' student.id %}">{% trans "Delete" %}</a></span>
            <span class="badge"><a href="{% url 'student-add' %}">{% trans "Add" %}</a></span>
            <span class="badge"><a href="{% url 'student-edit' student.id %}">{% trans "Edit" %}</a></span>
          </li>

          {% endfor %}

        </ul>

    </div><!-- /.container -->

{% endblock %}
