{%  extends "students/base.html" %}
{% load static %}


{% block title %}{{ title|capfirst }} {% endblock %}


{% block content %}

    <div class="container">
        <h2>Students list</h2>
        <ul class="list-group">

          {% for student in students %}
          <li class="list-group-item">
          {{ forloop.counter }}
            <a href="{% url 'student-item' student.id %}">
              {{ student.surname }} {{ student.name }}
            </a>
          </li>
          {% endfor %}

        </ul>

    </div><!-- /.container -->

{% endblock %}
