{%  extends "base.html" %}


{% block title %}Home{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}

<div class="container">
<div align="center" style="padding-top:270px;" class="fond">

		<div class="contener_home_one">
			<div class="fireplace">&nbsp;</div>
			<div class="fireplace_top">&nbsp;</div>
			<div class="fireplace_smoke">&nbsp;</div>
			<div class="triangle">&nbsp;</div>
			<div class="parallelogram">&nbsp;</div>
			<div class="door">&nbsp;</div>
			<div class="window_one">&nbsp;</div>
			<div class="window_two">&nbsp;</div>
			<div class="home_base">&nbsp;</div>
			<div class="christmas_tree">
				<div style="position:relative; height:90px;">
					<div class="christmas_ball christmas_ball_1">&nbsp;</div>
					<div class="christmas_ball christmas_ball_2">&nbsp;</div>
					<div class="christmas_ball christmas_ball_3">&nbsp;</div>
					<div class="christmas_ball christmas_ball_4">&nbsp;</div>
				</div>
			</div>
			<div class="christmas_tree" style="left:-90px;">
				<div style="position:relative; height:90px;">
					<div class="christmas_ball christmas_ball_1">&nbsp;</div>
					<div class="christmas_ball christmas_ball_2">&nbsp;</div>
					<div class="christmas_ball christmas_ball_3">&nbsp;</div>
					<div class="christmas_ball christmas_ball_4">&nbsp;</div>
				</div>
			</div>
			<div class="mountain_one"><div class="sub_mountain_one">&nbsp;</div></div>
			<div class="mountain_two"><div class="sub_mountain_two">&nbsp;</div></div>
		</div>
    <div class="starter-template">
 <h1>PyBursa</h1>
        <p class="lead">PyBursa wishes you a Merry Christmas and a Happy New Year.</p>
        </div>
	<div style=" width:800px;height:9px; background-color:#2c5871; border-radius:5px;">&nbsp;</div>


    </div>
</div><!-- /.container -->
{% endblock %}

