{%  extends "coaches/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ title|capfirst }} {% endblock %}


{% block content %}

    <div class="container">

        <h2>{% trans "Coach:" %} {{ coach.surname }} {{ coach.name }}</h2>
        <ul class="list-group">
          <li class="list-group-item">{% trans "Email:" %} {{ coach.email }}</li>
          <li class="list-group-item">{% trans "Phone:" %} {{ coach.phone }}</li>
          <li class="list-group-item">{% trans "Teacher:" %} {{ coach.get_teacher_display }}</li>
            {% if coach.dossier %}
          <li class="list-group-item">{% trans "Address:" %} {{ coach.dossier.address }}</li>
          <li class="list-group-item">{% trans "Unloved courses:" %}
              {%  for course in coach.dossier.unloved_courses.all %}
              {{ course }}{% endfor %}</li>
          {% endif %}
          <li class="list-group-item">{% trans "Favorite colour:" %} {{ coach.dossier.favorite_colour }}
          <li class="list-group-item"><a href="{% url 'coach-edit' coach.id %}">{% trans "Edit" %}</a>
          <a href="{% url 'coach-add' %}">{% trans "Add" %}</a>
          <a href="{% url 'coach-delete' coach.id %}">{% trans "Delete" %}</a></li>
          {# <li class="list-group-item">Рейтинг: 1</li> #}

        </ul>

    </div><!-- /.container -->
{% endblock %}
