{%  extends "coaches/base.html" %}
{% load static %}


{% block title %}{{ title|capfirst }} {% endblock %}


{% block content %}

    <div class="container">
        <h2>Coaches list</h2>
        <ol class="list-group">
          {% for coach in coaches %}
          <li class="list-group-item">
            {{ forloop.counter }}
            <a href="{% url 'coach-item' coach.id %}">
              {{ coach.surname }} {{ coach.name }}
            </a><span class="badge"><a href="{% url 'coach-delete' coach.id %}">Delete</a></span>
            <span class="badge"><a href="{% url 'coach-add' %}">Add</a></span>
            <span class="badge"><a href="{% url 'coach-edit' coach.id %}">Edit</a></span>
          </li>
          {% endfor %}
        </ol>

    </div><!-- /.container -->
{% endblock %}

